$header-color-background: #f4f9e2;
$header-color-text: #22356f;
$logo-color: #62d0df;

$main-color-text: #fff;
$medium-letter-spacing: -3.5%;

$button-width: 150px;
$button-height: 50px;
$btn-background: #f9b640;

$why-trive-background: #62d0df;

$help-side: 360px;

$middle-screen: 950px;
$max-screen: 1800px;
