.info {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: start;

  color: #22356f;

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    max-width: 676px;
    margin: 0 20px 65px 106px;
  }

  &__title {
    padding-top: 103px;
    padding-bottom: 75px;

    font-size: 0.6rem;
    line-height: 12.19px;
    letter-spacing: $medium-letter-spacing * 2;
  }

  &__text {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 52.73px;
    letter-spacing: $medium-letter-spacing / 3;
  }

  &__logo {
    text-decoration: none;
  }

  &__photo {
    justify-self: start;

    height: 100%;
    max-width: 100%;

    object-fit: cover;
  }

  &__button {
    text-align: left;
    
    height: $button-height;
    width: $button-width;
    line-height: 23.44px;

    font-weight: bold;
    color: $btn-background;
    background-color: transparent;
    border: transparent;
    letter-spacing: $medium-letter-spacing * 3.2;

    cursor: pointer;

    transition: color 0.35s ease-in-out,
      background-color 0.35s ease-in-out;

    &:hover {
      color: $main-color-text;
      background-color: $btn-background;
    }
  }
}

@media (max-width: $middle-screen) {
  .info {
    grid-template-columns: 1fr;

    &__photo {
      justify-self: end;
      
      width: 100%;
      height: 400px;

      object-fit: cover;
    }

    &__article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      
      width: auto;
  
      margin: 20px;
    }
  }
}
